#java specific
*.class
target/

#Eclipse
.classpath
.project
.settings/

#Intellij
.idea/
*.iml
*.iws

#Netbeans
nbproject/private/
nb-configuration.xml

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out


